#header {
  text-align: center;
  padding-top: 30;
}

body {
 background-color: #040F0F; 
}

#container {
  text-align: center;
  margin-left: 5.7%;
}

#mobileimg {
  display: none;
}

#nav a {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #FFF;
  letter-spacing: 1;
  margin: auto;
  margin-right: 1%;
  text-decoration: none;
}

#nav a:hover {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #9CFCF4;
  letter-spacing: 1;
  margin: auto;
  margin-right: 1%;
  text-decoration: none;
}

#nav a:active {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #9CFCF4;
  letter-spacing: 1;
  margin: auto;
  margin-right: 1%;
  text-decoration: none;
}

#nav a:live {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #FF3D23;
  letter-spacing: 1;
  margin: auto;
  margin-right: 1%;
  text-decoration: none;
}

.videolinks a {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 20;
  color: #FFF;
  letter-spacing: .5;
  padding-top: 0%;
  float: center;
  margin-top: -32%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  margin-left: 0%;
  text-decoration: none;
}

.overlay a:live {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 20;
  color: #FFF;
  letter-spacing: .5;
  padding-top: 0%;
  float: center;
  margin-top: -32%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  margin-left: 0%;
  text-decoration: none;
}

#nav {
  text-align: right;
  /*margin-right: 12%;*/
  padding-right: 7.35%;
  float: right;
  width: 50%;
  margin: auto;
  top: 0;
}

#nav .current {
  color: #FF3D23;
}


#p0 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 32;
  color: #FFF;
  letter-spacing: 1;
  text-align: left;
  padding-left: 8%;
  padding-top: 2%;
  margin: auto;
}

#p01 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 18;
  color: #FFF;
  letter-spacing: 1;
  text-align: left;
  padding-left: 8%;
  padding-top: 2.7%;
  margin: auto;
}

#director {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #FF3D23;
  letter-spacing: 1;
  text-align: left;
  padding-left: 8%;
  padding-top: .5%;
  margin: auto;
}

#director_mobile {
  display: none;
}

#p1 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 24;
  color: #F9FEFF;
  letter-spacing: .5;
}

/*#nav {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #F9FEFF;
  letter-spacing: 1;
  margin: auto;
  float: right;
  margin-right: 8%;
}*/

#p3 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 12;
  color: #F9FEFF;
  letter-spacing: .5;
}

/*IMAGE HOVER COLOR*/

img {
  width: 100%;
/*  height: 100%;*/
}

img:hover {
  width: 100%;
}

#contact-img {
  width: 58%;
/*  height: 68%;*/
  float: left;
  margin-left: 2.5%;
  padding-top: 3%;
  padding-bottom: 6%;
}

#about-img {
  width: 40%;
/*  height: 76%;*/
  float: left;
  margin-left: 2.5%;
  padding-top: 3%;
  padding-right: 3%;
/*  padding-bottom: 10%;*/
}

#about-text {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #FFF;
  letter-spacing: 1;
  margin: auto;
  text-decoration: none;
  line-height: 2;
  opacity: .5;
  padding-top: 2.4%;
  width: 45%;
  text-align: left;
  float: right;
  margin-right: 6%;
}

#internal-img {
  width: 55%;
/*  height: 76%;*/
  float: left;
  margin-left: 2.5%;
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 6%;
}

#internal-text {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #FFF;
  letter-spacing: 1;
  margin: auto;
  text-decoration: none;
  line-height: 2;
  opacity: .5;
  padding-top: 1.3%;
  width: 80%;
  text-align: left;
}

.box {
  width:28%;
  height:29.8%;
/*  display: inline-block;*/
  vertical-align: top;
  margin-top: 3%;
  margin-left: 2.5%;
  float: left;
}

.overlay {
  position: relative;
  z-index: 1;
}

.overlay p {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 20;
  color: #FFF;
  letter-spacing: .5;
  padding-top: 0%;
  float: center;
  margin-top: -32%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  margin-left: 0%;
  text-decoration: none;
}

.overlay a {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 20;
  color: #FFF;
  letter-spacing: .5;
  padding-top: 0%;
  float: center;
  margin-top: -32%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  margin-left: 0%;
  text-decoration: none;
}

.overlay:hover p {
  color: #fff;
  opacity: 1;
  z-index: 3;
  position: relative;
  transform: scale(1.05);
  transition: transform .5s ease-in-out;
  text-decoration: none;
}


.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}

.overlay:hover:after  {
  opacity: .97; 
}

.red:after {
  background-color: #B2F4EF;
  transition: opacity .2s ease-in-out;
}

.red:after p {
  background-color: none;
  text-decoration: none;
}

.footerinternal {
/*  margin: auto;*/
  bottom:-10;
  position: absolute;
  width: 100%;
  height: 7%;
  margin-left: -6.2%;
  background-color: #353535;
  color: white;
  opacity: .6;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  text-decoration: none;
/*  margin-top: 24%;*/
}

.footerinternal a {
  text-decoration: underline;
  color: white;
  margin-top: 1%;
}

.footerinternal a:hover {
  text-decoration: underline;
  opacity: .8;
  margin-top: 1%;
}

#footersocialmedia p {
  text-align: center;
  width: 100%;
}

.footerinternal p {
  width: 100%;
  margin-top:1.1%;
  opacity: .8;
}

.footervideospage {
/*  margin: auto;*/
  bottom:-50;
  position: absolute;
  width: 100%;
  height: 7%;
  margin-left: -6.2%;
  background-color: #353535;
  color: white;
  opacity: .6;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  text-decoration: none;
/*  margin-top: 24%;*/
}

.footervideospage a {
  text-decoration: underline;
  color: white;
  margin-top: 1%;
}

.footervideospage a:hover {
  text-decoration: underline;
  opacity: .8;
  margin-top: 1%;
}

#footersocialmedia p {
  text-align: center;
  width: 100%;
}

.footervideospage p {
  width: 100%;
  margin-top:1.1%;
  opacity: .8;
}

.footeraboutpage {
/*  margin: auto;*/
  bottom:-100;
  position: absolute;
  width: 100%;
  height: 7%;
  margin-left: -.5%;
  background-color: #353535;
  color: white;
  opacity: .6;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  text-decoration: none;
/*  margin-top: 24%;*/
}

.footeraboutpage a {
  text-decoration: underline;
  color: white;
  margin-top: 1%;
}

.footeraboutpage a:hover {
  text-decoration: underline;
  opacity: .8;
  margin-top: 1%;
}

#footersocialmedia p {
  text-align: center;
  width: 100%;
}

.footeraboutpage p {
  width: 100%;
  margin-top:1.1%;
  opacity: .8;
}

.footercontactpage {
/*  margin: auto;*/
  bottom:-100;
  position: absolute;
  width: 100%;
  height: 7%;
  margin-left: -.5%;
  background-color: #353535;
  color: white;
  opacity: .6;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  text-decoration: none;
/*  margin-top: 24%;*/
}

.footercontactpage a {
  text-decoration: underline;
  color: white;
  margin-top: 1%;
}

.footercontactpage a:hover {
  text-decoration: underline;
  opacity: .8;
  margin-top: 1%;
}

.footercontactpage p {
  width: 100%;
  margin-top:1.1%;
  opacity: .8;
}

.footerreelspage {
/*  margin: auto;*/
  bottom:-15;
  position: absolute;
  width: 100%;
  height: 7%;
  margin-left: -6.2%;
  background-color: #353535;
  color: white;
  opacity: .6;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  text-decoration: none;
/*  margin-top: 24%;*/
}

.footerreelspage a {
  text-decoration: underline;
  color: white;
  margin-top: 1%;
}

.footerreelspage a:hover {
  text-decoration: underline;
  opacity: .8;
  margin-top: 1%;
}

#footersocialmedia p {
  text-align: center;
  width: 100%;
}

.footerreelspage p {
  width: 100%;
  margin-top:1.1%;
  opacity: .8;
}



/*CONTACT FORM*/

input[type=text], select, textarea {
  width: 100%;
  padding: 3%; 
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 12px; 
  margin-bottom: 16px;
  resize: none; 
  background-color: #3A3A3A;
  font-size: 70%;
  border: none;
  text-decoration: none;
}

input[type=submit] {
  background-color: #FF3D23;
  color: white;
  padding: 3% 7%;
  border: none;
  cursor: pointer;
  margin-top: 3%;
}

input[type=submit]:hover {
  background-color: #9CFCF4;
  transition: background-color .25s ease-in-out;
}

.contactform {
  width: 27%;
  float: right;
  margin: auto;
  padding-right: 8%;
  padding-top: 2.65%;
}

label {
  cursor: default;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 12;
  color: #FFF;
  letter-spacing: 1;
  margin: auto;
}

iframe {
  width: 55%;
  height: 100%;
  float:left;
  margin-top:-8%;
  padding-left:2.5%;
  padding-right:2.5%;
  padding-bottom:0%;
}

/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/
/*START OF MOBILE MEDIA QUERY*/

              @media only screen and (max-width: 600px) {

img {
  width: 115%;
  margin-left: -3%;
}

img:hover {
  width: 115%;
  margin-left: -3%;
}

#container {
  text-align: center;
  width: 75%;
  margin-left: 4%;
}

#nav a {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #FFF;
  letter-spacing: .8;
  margin: auto;
  margin-right: 2.8%;
  text-decoration: none;
}

#nav a:hover {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #9CFCF4;
  letter-spacing: 2.8;
  margin: auto;
  margin-right: .8%;
  text-decoration: none;
}

#nav a:active {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #9CFCF4;
  letter-spacing: 2.8;
  margin: auto;
  margin-right: .8%;
  text-decoration: none;
}

#nav a:live {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #FF3D23;
  letter-spacing: 2.8;
  margin: auto;
  margin-right: .8%;
  text-decoration: none;
}

#nav {
  text-align: center;
  width: 90%;
  margin: auto;
  top: 0;
  word-spacing: 7;
  padding-bottom: 8%;
  padding-top: 6%;
}

#p0 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 28;
  color: #FFF;
  letter-spacing: 1;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
  margin: auto;
}

#director {
  display: none;
}

.box {
  width:100%;
  height:29.8%;
/*  display: inline-block;*/
  vertical-align: top;
  margin-top: 5%;
  margin-left: 10%;
}

.overlay {
  position: relative;
  z-index: 1;
}

.overlay p {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 16;
  color: #FFF;
  letter-spacing: .5;
  padding-top: 0%;
  float: center;
  margin-top: -32%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  margin-left: 0%;
  text-decoration: none;
}

.overlay a {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 16;
  color: #FFF;
  letter-spacing: .5;
  padding-top: 0%;
  float: center;
  margin-top: -50%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  margin-left: 0%;
  text-decoration: none;
}

.overlay:hover p {
  color: #fff;
  opacity: 1;
  z-index: 3;
  position: relative;
  transform: scale(1.05);
  transition: transform .5s ease-in-out;
  text-decoration: none;
}


.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:96.5%;
  opacity:0;
}

.overlay:hover:after  {
  opacity: .97; 
}

.red:after {
  background-color: #B2F4EF;
  transition: opacity .2s ease-in-out;
}

.red:after p {
  background-color: none;
  text-decoration: none;
}

.footervideospage {
/*  margin: auto;*/
  bottom:-720;
  position: absolute;
  width: 100%;
  height: 7%;
  margin-left: -5.5%;
  background-color: #353535;
  color: white;
  opacity: .6;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  text-decoration: none;
/*  margin-top: 24%;*/
}

.footervideospage a {
  text-decoration: underline;
  color: white;
  margin-top: 1%;
}

.footervideospage a:hover {
  text-decoration: underline;
  opacity: .8;
  margin-top: 1%;
}

#footersocialmedia p {
  text-align: center;
  width: 100%;
}

.footervideospage p {
  width: 100%;
  margin-top:3%;
  opacity: .8;
}

#internal-text {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #FFF;
  letter-spacing: 1;
  margin: auto;
  text-decoration: none;
  line-height: 1.75;
  opacity: .5;
  padding-top: -10%;
  width: 115%;
  text-align: left;
  text-justify: auto;
  padding-left: 3%;
}

iframe {
  width: 115%;
  height: 40%;
  float:center;
  padding-bottom:6%;
}

#p01 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 16;
  color: #FFF;
  letter-spacing: 1;
  text-align: center;
  padding-left: 20%;
  padding-top: 0%;
  margin: auto;
  padding-bottom: 3%;
}

.footerreelspage {
/*  margin: auto;*/
  bottom:-45;
  position: absolute;
  width: 100%;
  height: 7%;
  margin-left: -5.7%;
  background-color: #353535;
  color: white;
  opacity: .6;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  text-decoration: none;
/*  margin-top: 24%;*/
}

.footerreelspage a {
  text-decoration: underline;
  color: white;
  margin-top: 1%;
}

.footerreelspage a:hover {
  text-decoration: underline;
  opacity: .8;
  margin-top: 1%;
}

.footerreelspage p {
  width: 100%;
  margin-top:2.9%;
  opacity: .8;
}

#about-img {
  width: 110%;
  float: left;
  margin-left: 6%;
  padding-top: 3%;
}

#about-text {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  color: #FFF;
  letter-spacing: 1;
  margin: auto;
  text-decoration: none;
  line-height: 1.65;
  opacity: .5;
  padding-top: 10%;
  width: 85%;
  text-align: left;
  float: center;
  margin-right: 7%;
}

.footeraboutpage p {
  width: 100%;
  margin-top:3%;
  opacity: .8;
}

.footeraboutpage {
  bottom:-580;
  position: absolute;
  width: 100%;
  height: 7%;
  margin-left: -1.9%;
  background-color: #353535;
  color: white;
  opacity: .6;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  text-decoration: none;
}

#contact-img {
  width: 115%;
  float: left;
  margin-left: 3%;
  padding-top: 0%;
  padding-bottom: 6%;
}

.contactform {
  width: 86%;
  float: center;
  margin: auto;
  padding-right: 8%;
  padding-top: 2.65%;
}

.footercontactpage p {
  width: 100%;
  margin-top:3%;
  opacity: .8;
}

.footercontactpage {
  bottom:-380;
  position: absolute;
  width: 100%;
  height: 7%;
  margin-left: -1.9%;
  background-color: #353535;
  color: white;
  opacity: .6;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  text-decoration: none;
}

#mobileimg{
  display: inline;
  margin-left: 10.5%;
  padding-bottom: 9%;
}

.box {
  display: none;
}

.footerinternal {
/*  margin: auto;*/
  bottom:-240;
  position: absolute;
  width: 100%;
  height: 7%;
  margin-left: -5.5%;
  background-color: #353535;
  color: white;
  opacity: .6;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14;
  text-decoration: none;
/*  margin-top: 24%;*/
}

.footerinternal a {
  text-decoration: underline;
  color: white;
  margin-top: 1%;
}

.footerinternal a:hover {
  text-decoration: underline;
  opacity: .8;
  margin-top: 1%;
}

.footerinternal p {
  width: 100%;
  margin-top:3%;
  opacity: .8;
}

#director_mobile {
  display: inline;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 12;
  color: #FF3D23;
  letter-spacing: 1;
  text-align: left;
  padding-left: 8%;
  margin: auto;
}





}

