#header {
  text-align: center;
  padding-top: 30;
}

#container {
  text-align: center;
  background-color: #000;
}

#p0 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 900;
  font-size: 28;
  color: #FF3D23;
  letter-spacing: 1;
  text-align: left;
  padding-left: 8%;
}

#p1 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 24;
  color: #424B54;
  letter-spacing: .5;
}

#nav {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 300;
  font-size: 10;
  color: #424B54;
  letter-spacing: .5;
  float: left;
}

#p3 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 300;
  font-size: 12;
  color: #424B54;
  letter-spacing: .5;
}

#video1 {
 width: 30%; 
}

#video2 {
 width: 30%; 
}

#video3 {
 width: 30%; 
}
