#header {
  text-align: center;
  padding-top: 30;
}

#container {
  text-align: center;
}

#p0 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 36;
  color: #BD8B9C;
}

#p1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 26;
  color: #424B54;
}
